#content {
    display: grid;
    grid-template-areas: ". content .";
    grid-template-columns: auto 90% auto;
    padding: 64px 0;
    background-color: black;

    @include md {
        grid-template-columns: auto 80% auto;
        padding: 100px 0;
    }

    @include lg {
        grid-template-columns: auto 80% auto;
        padding: 15vh 0;
    }

    @include xl {
        grid-template-columns: auto 1440px auto;
    }

    >div {
        grid-area: content;
        // margin-top: 150px;
        // margin-bottom: 250px;

        @include lg {
            padding: 0 20%;
        }

        #hiding{
            
            // grid-area: hiding;
            // height: 100vh;
            // background-color: black;
            color: $white;
        }

        #splittext{ 
            /*font-size: rem-calc(35);
            margin-bottom: 10px;*/

            // overflow: hidden;

            font-family: Lato;
            font-weight: 700;
            font-size: rem-calc(18);
            line-height: 28px;
            color: white;
            text-align: center;
            margin-bottom: 35px;

        }

        p {
            /*font-size: rem-calc(18);
            line-height: rem-calc(30);
            text-align: justify;*/

            font-family: Lato;
            font-weight: 300;
            font-size: rem-calc(18);
            line-height: 30px;
            text-align: center;
            color: white;

        }
    }
}