#hero {
    background-color: black;
    height: 90vh;
    width: 100%;
    padding-top: 130px;
    


    @include md {
        // display: grid;
        // grid-template-areas: ". hero .";
        // grid-template-columns: auto 100% auto;
    }

    //@include lg {
    //     grid-template-columns: auto 100% auto;
    // }


    // @include xl {
    //     grid-template-columns: auto 100% auto;
    // }


    >div {
        overflow: hidden !important;
        
        // border-top: 100px solid black;

        
        height: 100%;
    
        @include md {
            // grid-area: hero;
        }

        article {

            align-items: center;
            background-image: url("../img/hero/hero.jpg");
            background-position: center;
            background-size: cover;
            display: flex;
            height: 80%;
            justify-content: center;

            
           


            section {
                color: $white;
                text-align: center;

            

                h1 {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: 300;
                    font-size: rem-calc(50);
                    line-height: 40px;

                    @include md {
                        font-size: rem-calc(60);
                    }

                    @include lg {
                        font-size: rem-calc(70);

                    }
                }


            }
        }


    }
}