#hero {
    height: 90vh;
    width: 100%;
    background-color: black;

    @include xl {
        display: grid;
        grid-template-areas: ". hero .";
        grid-template-columns: auto 1440px auto;
    }

    >div {

        overflow: hidden !important;
        border-top: 100px solid black;
        border-left: 100px solid black;
        border-right: 100px solid black;
        border-bottom: 200px solid black;
        
        height: 100%;
        padding-top: 200px;

        @include xl {
            grid-area: hero;
        }

        article {

            align-items: center;
            background-image: url("../img/hero/hero.jpg");
            background-position: center;
            background-size: cover;
            display: flex;
            height: 80%;
            justify-content: center;

                   
           


            section {
                color: $white;
                text-align: center;

                /*h1 {
                    font-size: rem-calc(80);
                    font-weight: 900;
                    line-height: 117px;
                    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);

                    @include md {
                        font-size: rem-calc(90);
                    }

                    @include lg {
                        font-size: rem-calc(100);
                    }
                }*/

                h1 {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 50px;
                    line-height: 40px;

                    @include md {
                        font-size: 50px;
                    }

                    @include lg {
                        font-size: 60px;
                    }
                }


            }
        }


    }
}