/* =============
    Header
============= */
header{
    padding-top: 120px;
    padding-bottom: 105px;
    position: fixed;
    border: 125px solid black;
    width: 100%;
    background-color: black; 
    z-index: 1000;
    >div{
        display: grid;
        grid-template-columns: 15% auto;
        padding: 8px 16px;

        aside{
            a{
                display: inline-block;
            }
        }
    }


}